body
{
	/*background-color: #E69D88; 
	color: #1C296A;*/
	/*background-image: linear-gradient(to right, #EDA27D, #ED7D7D, #ED7D98, #C97DED);*/
	font-family: 'Google-Sans';
	color: white;
	background-image: linear-gradient(to right, #6C31B1, #4731B1, #3138B1, #3167B1);
	transition:all 0.3s ease;
	/*background-color: #313135; */
}

.photo img
{
	width: 250px; 
	border-radius: 25%; 
}

.photo{
	text-align: center; 
	margin-top: 60px; 
	width: 260px;
	margin-left: auto; 
	margin-right: auto; 
}

.icones img{
	text-align: center; 
	margin-bottom: 20px; 
}

.icones{
	text-align: center;
}

@font-face{
	font-family: 'Google-Sans'; 
	src:url('Fonts/GoogleSans-Regular.ttf');
}

h1{
	font-family: 'Google-Sans'; 
	color: #C73E3A; 
}

h2{
	color: #93DBF9;
}

#cv
{
	margin-left: 25%;
}

.infos{
	width: 500px; 
	float: right;
	margin-top: -300px;
}

#gauche{
	float:left;
	width:400px;
}
#droite{
	margin-right: 35%
}
#formulaire{
	 margin: 30px;
	 padding: 20px;
}

.contour{
	border: 2px white solid;
	border-radius: 5px; 
	width: 250px; 
	height: 15px; 
	border-color: #EEAF69; 
}

.a{
	background-color: #EEAF69; 
	width: 150px; 
	height: 15px; 
}

.b{
	background-color: #EEAF69; 
	width: 200px; 
	height: 15px; 
}

.c{
	background-color: #EEAF69; 
	width: 130px; 
	height: 15px; 
}

.d{
	background-color: #EEAF69; 
	width: 110px; 
	height: 15px; 
}

.e{
	background-color: #EEAF69; 
	width: 150px; 
	height: 15px; 
}

#profil
{
	margin-left: 20%;
	margin-right: 20%; 
	color:#DDB3FC;
	/*border: thick black solid;*/
}


#video video{
	margin: 50px;
}

#video{
	width: 400px; 
	margin-left: 33%;
}

a.b
{
	opacity: 1; 
	padding: 10px 30px; 
	background: #197ADE;
	color: white; 
	text-decoration: none; 
}

a.b:hover
{
	 opacity:0.5;
}
